<h1>Cart</h1>
<ul>
  {{#each cart.productsArray}}
    <li>Product: {{product}}</li>
     <li>Category: {{category}}</li>
    <li>Quantity: {{quantity}}</li>
     <li>Price: {{price}}</li>
  {{/each}}
</ul>